@model IEnumerable<SmartCommuteEmmet.Models.Document>

@{
    ViewData["Title"] = "Documents";
}

<h2>Documents</h2>

<input type="button" class="btn-main" value="Create New" onclick="location.href='@Url.Action("Create", "Documents")'" />
<table class="table" id="theTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentFilePath)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentFilePath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
