@model IEnumerable<SmartCommuteEmmet.Models.ConfigDate>

@{
    ViewData["Title"] = "Configuration Dates";
}

<h2>Configuration Dates</h2>
<hr />
<p>Set the start date, end date, and registration deadline date here.</p>
<p>These dates are the dates that will appear in the Home and About pages. Commute entry is only available between the start and end dates.</p>
<hr />
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterByDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterByDate)
            </td>
            <td>
                <input type="button" class="btn-main" value="Edit" onclick="location.href='@Url.Action("Edit", "ConfigDates",new { id = item.Id })'" />
            </td>
        </tr>
}
    </tbody>
</table>
