@model IndexViewModel
@{
    ViewData["Title"] = "Update Your Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<input type="button" class="btn-main" value="Change Password" onclick="location.href='@Url.Action("ChangePassword", "Manage")'" />
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <form method="post" class="genericForm" enctype="multipart/form-data">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger">@ViewData["CustomBusinessError"]</div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn-main">Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="UserPhoto"></label><br />
                <img src="~/@Model.UserPhoto" class="thumbnailTiny" />
                <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserStreet"></label>
                <input asp-for="UserStreet" class="form-control" />
                <span asp-validation-for="UserStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCity"></label>
                <input asp-for="UserCity" class="form-control" />
                <span asp-validation-for="UserCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserZIP"></label>
                <input asp-for="UserZIP" class="form-control" />
                <span asp-validation-for="UserZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <select asp-for="BusinessId" id="businessDropdown" class="form-control" asp-items="ViewBag.BusinessId" onchange="CheckBusinessSelect();">
                    <option value="0">-Add New Business-</option>
                </select>
                <span asp-validation-for="BusinessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomBusiness"></label>
                <input asp-for="CustomBusiness" id="customBusiness" placeholder="Select -Add New Business- above to enable this input." class="form-control" onkeypress="ChangeBusinessSelect();" />
                <span asp-validation-for="CustomBusiness" class="text-danger">@ViewData["CustomBusinessError"]</span>
            </div>
            <div class="form-group">
                <label asp-for="UserBio"></label>
                <textarea asp-for="UserBio" class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="UserBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSubscribed" /> @Html.DisplayNameFor(model => model.IsSubscribed)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn-main">Save</button>
        </form>
    </div>
</div>

<script>
    function CheckBusinessSelect() {
        if ($('#businessDropdown').val() == 0 && $('#businessDropdown').val() != "") {
            $('#customBusiness').removeAttr('disabled');
        } else {
            $('#customBusiness').attr('disabled', 'disabled');
            $('#customBusiness').val('');
        }
    }

    function ChangeBusinessSelect() {
        $('#businessDropdown').val(0);

    }

</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
