
@model IEnumerable<Commute>

@{
    ViewData["Title"] = "ManageCommutes";
}

<div class="genericSection">
    <h2>Manage Commutes</h2>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.FirstName) @Html.DisplayNameFor(model => model.User.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Business)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPoint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Business.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommuteType.CommuteTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommuteDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommuteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartPoint.StartPointName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndPoint.EndPointName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommuteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommuteDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

