
@model IEnumerable<SmartCommuteEmmet.Models.LeaderboardViewModels.LeaderboardsBusinessViewModel>

@{
    ViewData["Title"] = "Manage Business Commutes";
}

<div class="row">
    <div class="col-md-12">
        <div class="genericSection">
            <h2>Manage Business Commutes</h2>
            <hr />
            <form asp-action="ManageCommutesBusiness" class="genericForm">
                <p>Date Filter:</p>
                <p>Showing from @ViewData["StartDate"] to @ViewData["EndDate"]</p>
                    <label for="startDate" class="control-label">From:</label>
                    <input type="date" id="startDate" name="startDate" />
                    <label for="endDate" class="control-label">To:</label>
                    <input type="date" id="endDate" name="endDate" />
                    <input type="submit" value="Submit" class="btn-main" />
            </form>
            <hr />
            <p>Commutes: @Model.Sum(c => c.TotalCommutes) | Distance: @Model.Sum(c => c.TotalDistance) | Active Businesses: @Model.Where(c=>c.TotalCommutes > 0).Count() </p>
        </div>
    </div>
</div>
<div class="row">
    <table class="table" id="theTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCommutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalBikes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalRuns)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCarpools)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Businesses" asp-action="Details" asp-route-id="@item.BusinessId"><div class="leaderboardNameDiv">@Html.DisplayFor(modelItem => item.BusinessName)</div></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCommutes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDistance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBikes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalRuns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCarpools)
                    </td>
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
