@model IEnumerable<SmartCommuteEmmet.Models.Business>

@{
    ViewData["Title"] = "Businesses";
}

<h2>Businesses</h2>

<input type="button" class="btn-main" value="Create New" onclick="location.href='@Url.Action("Create", "Businesses")'" />

<table class="table" id="theTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessZIP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessZIP)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
