@model SmartCommuteEmmet.Models.Commute

@{
    ViewData["Title"] = "Commute Details";
}

<h2>Commute Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommuteDistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteDistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommuteDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommuteSaved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteSaved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommuteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommuteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartPointCustom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartPointCustom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndPointCustom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndPointCustom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommuteType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommuteType.CommuteTypeDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndPoint.EndPointDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartPoint.StartPointDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Return to Your Commute Log</a>
</div>
