@model IEnumerable<SmartCommuteEmmet.Models.Commute>

@{
    ViewData["Title"] = "My Commute Log";
}

<h1>My Commute Log</h1>

<p>
    <a asp-action="Create">Log new commute</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteSaved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommuteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartPointCustom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPointCustom)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CommuteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteSaved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPointCustom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPointCustom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommuteType.CommuteTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPoint.EndPointDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPoint.StartPointDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
