@model IEnumerable<SmartCommuteEmmet.Models.LeaderboardViewModels.LeaderboardViewModel>

@{
    ViewData["Title"] = "Leaderboards";
}

<h2>Leaderboards</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCommutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeCommutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunCommutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarpoolCommutes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Profiles" asp-action="Profile" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.UserName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCommutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BikeCommutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunCommutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarpoolCommutes)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>

