@model SmartCommuteEmmet.Models.ProfileViewModels.BusinessProfileViewModel

@{
    ViewData["Title"] = Model.BusinessName;
}

<div class="profileOverview">
    <div class="row">
        <div class="col-md-12">
            <h1 class="aboutHeader">@Model.BusinessName</h1>
            <div class="aboutParagraph">
                <h3 class="profileStats">@Model.Commutes.Sum(c => c.CommuteDistance) Miles traveled over @Model.Commutes.Count commutes by @Model.Users.Count() Smart Commuters.</h3>
                <br />
                <p class="profileBio">
                    @Model.BusinessDescription
                    <br /><br />
                    @Model.BusinessStreet @Model.BusinessCity @Model.BusinessZIP<br />
                    <a href="http://@Model.BusinessLink">@Model.BusinessLink</a>
                </p>

            </div>
        </div>
        <div class="col-md-12">
                <div class="tableContainerWide">
                    <h3>The Team:</h3>
                    <table class="table" id="theTable">
                        <thead>
                            <tr>
                                <th>
                                    Commuter
                                </th>
                                <th>
                                    Total Commutes
                                </th>
                                <th>
                                    Total Distance
                                </th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Profiles" asp-action="Profile" asp-route-id="@item.Id"><div class="leaderboardNameDiv"><img src="~/@item.UserPhoto" class="thumbnailTiny" />@item.FirstName @item.LastName</div></a>
                                    </td>
                                    <td>
                                        @Model.Commutes.Where(c => c.UserId == item.Id).Count()
                                    </td>
                                    <td>
                                        @Model.Commutes.Where(c => c.UserId == item.Id).Sum(c => c.CommuteDistance)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="Commutes" asp-action="LeaderboardsBusiness">View Leaderboards</a>
        </div>
    </div>

