@model SmartCommuteEmmet.Models.ProfileViewModels.ProfileViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="profileOverview">
    <div class="row">
        <div class="col-md-3">
            <img src="~/@Model.UserPhoto" class="profilePhoto" />
        </div>
        <div class="col-md-7">
            <h1 class="profileName">@Model.FirstName @Model.LastName</h1>
            <h3 class="profileStats">@Model.Commutes.Sum(c => c.CommuteDistance) Miles traveled over @Model.Commutes.Count commutes.</h3>
            <p class="profileMemberSince">Smart Commuter with @Model.BusinessName since @Model.DateRegistered.Year</p>
            <hr />
            <p class="profileBio">@Model.UserBio</p>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (UserManager.GetUserAsync(User).Result.Id == Model.UserId)
        {
            <div class="row">
                <hr />
                <div class="col-md-9">
                    <a asp-controller="Manage" asp-action="Index"><h3>Manage Account</h3></a>
                    <h3>Rewards</h3>
                    <h3>Commute Entry</h3>
                    <h3>My Commutes</h3>
                    <h3>Logout</h3>
                </div>
                <div class="col-md-3">
                    <h3>Documents:</h3>
                    <p>Breakfast Vouchers</p>
                    <p>Coupons</p>
                </div>
            </div>
        }

    }
    <div class="row">
        <div class="col-md-12">
            <hr />
            <a asp-controller="Commutes" asp-action="Leaderboards" class="profileLeaderboardLink">View Leaderboards</a>
        </div>
    </div>
</div>

