@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data" class="genericForm" id="registerForm">
            <h2>@ViewData["Title"]</h2>
            <br />
            <h4>Create your Smart Commute Account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger">@ViewData["CustomBusinessError"]</div>
            <div class="form-group">
                <label asp-for="UserPhoto"></label>
                <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
                <span class="text-danger">@ViewData["UserPhotoError"]</span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" placeholder="Enter your first name here." class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" placeholder="Enter your last name here." class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" placeholder="MM/DD/YYYY" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserBio"></label>
                <textarea asp-for="UserBio" placeholder="Tell us about yourself here. Why are you joining this program?" class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="UserBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserStreet"></label>
                <input asp-for="UserStreet" placeholder="Enter your street address here." class="form-control" />
                <span asp-validation-for="UserStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCity"></label>
                <input asp-for="UserCity" placeholder="Enter your city here." class="form-control" />
                <span asp-validation-for="UserCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserZIP"></label>
                <input asp-for="UserZIP" placeholder="Enter your 5 digit ZIP code here." class="form-control" />
                <span asp-validation-for="UserZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <select asp-for="BusinessId" id="businessDropdown" class="form-control" asp-items="ViewBag.BusinessId" onchange="CheckBusinessSelect();">
                    <option value="">Please Select your Business.</option>
                    <option value="0">-Add New Business-</option>
                </select>
                <span asp-validation-for="BusinessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomBusiness"></label>
                <input asp-for="CustomBusiness" id="customBusiness" disabled="disabled" placeholder="Select -Add New Business- above to enable this input." class="form-control"/>
                <span asp-validation-for="CustomBusiness" class="text-danger">@ViewData["CustomBusinessError"]</span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Enter your email here. This is your Username." class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="Enter your password here." class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" placeholder="Confirm your password here." class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-main">Register</button>
        </form>
    </div>
</div>

<script>
    function CheckBusinessSelect() {
        if ($('#businessDropdown').val() == 0 && $('#businessDropdown').val() != "") {
            $('#customBusiness').removeAttr('disabled');
        } else {
            $('#customBusiness').attr('disabled', 'disabled');
        }
    }
    
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
