@model SmartCommuteEmmet.Models.Reward

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RewardName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RewardDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredCommutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredCommutes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredMiles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredMiles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGrandPrize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGrandPrize)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
