@model IEnumerable<SmartCommuteEmmet.Models.Breakfast>

@{
    ViewData["Title"] = "Breakfasts";
}

<h2>Breakfasts</h2>

<input type="button" class="btn-main" value="Create New" onclick="location.href='@Url.Action("Create", "Breakfasts")'" />
<table class="table" id="theTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastStreet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastZIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BreakfastLink)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreakfastLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
